@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  --color-tomato: hsl(4, 100%, 67%);
  --color-dark-slate-gray: hsl(234, 29%, 20%);
  --color-charcoal-gray: hsl(235, 18%, 26%);
  --color-gray: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%)
}

html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-dark-slate-gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content-wrapper {
  padding: 20px;
}

.content-wrapper__heading {
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.content-wrapper__text {
  font-size: 16px;
  line-height: 1.8;
}

.content-wrapper__list {
  list-style: none;
  padding: 0;
}

.content-wrapper__list li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.content-wrapper__list li p {
  margin-block: 10px;
}

.content-wrapper__form-control {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
}

.content-wrapper__form-control label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.content-wrapper__email {
  padding: 15px 25px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.content-wrapper__button {
  padding-block: 15px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--color-dark-slate-gray);
  color: var(--color-white);
  border-radius: 5px;
  border: none;
}

.content-wrapper__email:focus-visible {
  border-color: var(--color-gray);
  outline: none;
}

.content-wrapper__button {
  width: 100%;
}